<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.module.club.management.internal.mapper.TblClubMapper">
    <resultMap id="tbl_club_DO" type="team.project.module.club.management.internal.model.entity.TblClubDO">
        <!-- 数据库字段 -->                  <!-- java 类属性 -->
        <result column="id"                 property="id" />
        <result column="is_deleted"         property="isDeleted" />
        <result column="create_time"        property="createTime" />
        <result column="update_time"        property="updateTime" />
        <result column="department_id"      property="departmentId" />
        <result column="name"               property="name" />
        <result column="state"              property="state" />
    </resultMap>

    <resultMap id="clubmasVO" type="team.project.module.club.management.internal.model.datatransfer.ClubMsgDTO">
        <!-- 数据库字段 -->                  <!-- java 类属性 -->
        <result column="is_deleted"         property="deleted" />
        <result column="department_id"      property="departmentId" />
        <result column="club_id"            property="clubId" />
        <result column="department_name"    property="departmentName" />
        <result column="name"               property="name" />
        <result column="state"              property="state" />
    </resultMap>

    <select id="findByNameAndDepartmentId"
            resultMap="tbl_club_DO">
        select * from tbl_club
        where name LIKE CONCAT('%', #{name}, '%') and department_id = #{departmentId}
    </select>

    <select id="selectByNameAndDepartmentId"
            resultMap="tbl_club_DO">
        select * from tbl_club
        where name LIKE CONCAT('%', #{name}, '%') and department_id = #{departmentId}
    </select>

    <select id="selectByCriteria" resultMap="tbl_club_DO">
        SELECT *
        FROM tbl_club
        <where>
            <if test="name != null and name != '' ">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="departmentId != null and departmentId != 0 ">
                AND department_id = #{departmentId}
            </if>
        </where>
    </select>

    <update id="createClub">
        insert into tbl_club (name, state, department_id)
        values (#{name}, 1, #{departmentId})
    </update>

    <update id="deleteClub">
        update tbl_club set is_deleted = 1 where name = #{name} and department_id = #{departmentId} and is_deleted = 0
    </update>

    <update id="reuseClub">
        update tbl_club set  state = 0 where name = #{name} and department_id = #{departmentId} and state = 1
    </update>

    <update id="deactivateClub">
        update tbl_club set  state = 1 where name = #{name} and department_id = #{departmentId} and state = 0
    </update>

    <update id="recoverClub">
        update tbl_club set is_deleted = 0 where name = #{name} and department_id = #{departmentId} and is_deleted = 1
    </update>

    <sql id="clubSummaryQuery">
        SELECT
        c.name AS name,
        d.full_name AS department_name,
        c.department_id AS department_id,
        c.id AS club_id,
        COUNT(uc.user_id) AS member_count,
        c.state AS state,
        c.is_deleted AS is_deleted,
        CASE WHEN uc.role &amp; 2 THEN u.name ELSE NULL END AS manager
        FROM tbl_club c
        LEFT JOIN tbl_user_club uc ON c.id = uc.club_id
        LEFT JOIN tbl_user u ON uc.user_id = u.user_id
        LEFT JOIN tbl_department d ON c.department_id = d.id
    </sql>

    <select id="findAll" resultMap="clubmasVO">
        <include refid="clubSummaryQuery"/>
        <where>
            <if test="name != null and name != '' ">
                and c.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="departmentId != null and departmentId != 0 ">
                and c.department_id = #{departmentId}
            </if>
        </where>
        GROUP BY c.id
    </select>

    <select id="selectById" resultMap="tbl_club_DO">
        select * from tbl_club where id = #{id} and is_deleted = 0
    </select>
</mapper>
