<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.module.club.attendance.internal.mapper.AttendanceMapper">

    <!-- 使用 resultMap 将数据库字段和 java 类属性映射到一起,在配置关闭了下划线命名和驼峰命名的自动转换 -->
    <resultMap id="ClubAttendanceDurationVO" type="team.project.module.club.attendance.internal.model.view.ClubAttendanceDurationVO">
        <!-- 数据库字段 -->                                   <!-- java 类属性 -->
        <result column="user_id"                            property="userId" />
        <result column="attendance_duration_time"           property="attendanceDurationTime" />

    </resultMap>



    <select id="getEachAttendanceDurationTime"
            parameterType="map"
            resultMap="ClubAttendanceDurationVO">
        SELECT
        user_id,
        SUM( TIMESTAMPDIFF( SECOND, checkin_time, checkout_time ) ) AS attendance_duration_time
        FROM
        tbl_user_club_attendance
        WHERE
        is_deleted = 0
        AND club_id = #{clubId}
        <if test="getAttendanceTimeReq.userId != null and getAttendanceTimeReq.userId != ''">
            AND user_id = #{getAttendanceTimeReq.userId}
        </if>
        <if test="getAttendanceTimeReq.startTime != null and getAttendanceTimeReq.endTime != null">
            AND checkin_time BETWEEN #{getAttendanceTimeReq.startTime} AND #{getAttendanceTimeReq.endTime}
        </if>
        AND checkout_time IS NOT NULL
        GROUP BY
        user_id;
    </select>


</mapper>
