<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.module.department.internal.mapper.DepartmentMapper">

    <!-- 使用 resultMap 将数据库字段和 java 类属性映射到一起（mybatis-plus 的注解对 xml 里的 SQL 不起作用） -->
    <resultMap id="DepartmentView" type="team.project.module.department.internal.model.view.DepartmentVO">
        <!-- 数据库字段 -->                  <!-- java 类属性 -->
        <result column="id"                 property="id" />
        <result column="abbreviation"       property="abbreviation" />
        <result column="full_name"          property="fullName" />
    </resultMap>

    <!-- 查询所有院系部门 -->
    <select id="selectAll" resultMap="DepartmentView">
        SELECT * FROM tbl_department
        WHERE is_deleted = 0
    </select>



    <!-- 增加部门 -->
    <insert id="addDepartment" parameterType="team.project.module.department.internal.model.request.AddDepartmentReq">
        INSERT INTO tbl_department (abbreviation, full_name)
        SELECT #{abbreviation}, #{fullName}
        WHERE NOT EXISTS (
        SELECT 1
        FROM tbl_department
        WHERE full_name = #{fullName} and is_deleted = 0
        )
    </insert>



    <!--占位符与实体类的属性名一致，而不是数据库表中的列名-->
    <!-- 逻辑删除部门 -->
    <update id="deleteDepartmentByName" parameterType="String">
        UPDATE tbl_department SET is_deleted = 1 WHERE full_name = #{full_name}
    </update>


    <!-- 更改部门名称 -->
    <update id="updateDepartmentName" parameterType="team.project.module.department.internal.model.request.AlterDepartmentNameReq">
        UPDATE tbl_department SET full_name = #{fullName} WHERE id = #{id}
    </update>



</mapper>
