<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.module.community_display.dao.DepartmentMapper">

    <!-- 定义 selectAll() 方法 -->
    <select id="selectAll" resultType="team.project.module.community_display.entity.Department">
        SELECT * FROM tbl_department
    </select>

    <!-- 定义根据部门查询社团的方法 -->
    <select id="selectClubsByDepartment" resultType="team.project.module.community_display.entity.Club">
        SELECT * FROM tbl_club WHERE department_id = #{departmentId}
    </select>

</mapper>
