<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.module.community_display.dao.DepartmentMapper">

    <!-- 查询所有院系部门 -->
    <select id="selectAll" resultType="team.project.module.community_display.entity.Department">
        SELECT * FROM tbl_department
    </select>

    <!-- 增加部门 -->
    <insert id="insertDepartment" parameterType="team.project.module.community_display.entity.Department">
        INSERT INTO tbl_department (abbreviation, full_name)
        VALUES (#{abbreviation}, #{full_name})
    </insert>

<!--占位符与实体类的属性名一致，而不是数据库表中的列名-->
    <!-- 逻辑删除部门 -->
    <update id="deleteDepartmentByName" parameterType="String">
        UPDATE tbl_department SET is_deleted = 1 WHERE full_name = #{full_name}
    </update>

    <!-- 更改部门名称 -->
    <update id="updateDepartmentName" parameterType="team.project.module.community_display.entity.Department">
        UPDATE tbl_department SET full_name = #{full_name} WHERE abbreviation = #{abbreviation}
    </update>



</mapper>
