<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.module.club.duty.internal.mapper.TblDutyCirculationMapper">
    <insert id="createCirculation" parameterType="java.lang.Long">
        INSERT INTO tbl_user_club_duty_circulation (club_id, is_circulation) VALUES (#{club_id}, 0)
    </insert>

    <update id="setCirculationByClubId">
        UPDATE tbl_user_club_duty_circulation SET is_circulation = #{is_circulation} WHERE club_id = #{club_id}
    </update>

    <delete id="deleteCirculation" parameterType="java.lang.Long">
        DELETE FROM tbl_user_club_duty_circulation WHERE club_id = #{club_id}
    </delete>

    <select id="selectCirculationByClubId" resultType="team.project.module.club.duty.internal.model.entity.TblDutyCirculation" parameterType="java.lang.Long">
        SELECT is_circulation FROM tbl_user_club_duty_circulation WHERE club_id = #{clubId}
    </select>

    <select id="selectAutoDutyClubid"
            resultType="team.project.module.club.duty.internal.model.entity.TblDutyCirculation"
            parameterType="java.lang.Long">
        SELECT * FROM tbl_user_club_duty_circulation WHERE is_circulation = 0
    </select>

</mapper>
