<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.module.club.duty.internal.mapper.TblDutyGroupMapper">
    <resultMap id="tbl_club_Group" type="team.project.module.club.duty.internal.model.entity.TblDutyGroup">
        <!-- 数据库字段 -->                  <!-- java 类属性 -->
        <result column="id"                 property="id" />
        <result column="member_id"         property="memberId" />
        <result column="name"              property="name" />
        <result column="club_id"          property="clubId" />
    </resultMap>
    <insert id="createDutyGroup">
        INSERT INTO tbl_user_club_duty_group (club_id, member_id, name)
        VALUES (#{clubId}, #{memberId}, #{name})
    </insert>

    <delete id="deleteDutyGroup">
        DELETE FROM tbl_user_club_duty_group
        WHERE club_id = #{clubId} AND member_id = #{memberId} AND name = #{name}
    </delete>

    <select id="selectByClubIdAndMemberIdAndName"
            resultMap="tbl_club_Group">
    </select>

    <select id="selectUserIdByGroupName"
            resultMap="tbl_club_Group">
    </select>

    <select id="selectGroup" resultMap="tbl_club_Group">
        SELECT * FROM tbl_user_club_duty_group WHERE club_id = #{clubId}
    </select>

    <select id="selectGroupByName"
            resultMap="tbl_club_Group">
        SELECT * FROM tbl_user_club_duty_group WHERE member_id = #{memberId} AND club_id = #{clubId}
    </select>

    <select id="selectGroupByGroupName"
            resultMap="tbl_club_Group">
        SELECT * FROM tbl_user_club_duty_group WHERE name = #{groupName} AND club_id = #{clubId}
    </select>

    <select id="selectGroupByNameAndGroupName"
            resultMap="tbl_club_Group">
        SELECT * FROM tbl_user_club_duty_group WHERE member_id = #{memberId} AND name = #{groupName} AND club_id = #{clubId}
    </select>


</mapper>
