<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.project.module.club.duty.internal.mapper.TblDutyMapper">
    <resultMap id="tbl_club_Duty" type="team.project.module.club.duty.internal.model.entity.TblDuty">
        <!-- 数据库字段 -->                  <!-- java 类属性 -->
        <result column="id"                 property="id" />
        <result column="is_deleted"         property="deleted" />
        <result column="create_time"        property="createTime" />
        <result column="update_time"        property="updateTime" />
        <result column="number"             property="number" />
        <result column="area"               property="area" />
        <result column="duty_time"          property="dutyTime" />
        <result column="arranger_id"        property="arrangerId" />
        <result column="cleaner_id"         property="cleanerId" />
        <result column="club_id"            property="clubId" />
        <result column="image_id"         property="imageFile" />
        <result column="is_mixed"           property="isMixed" />
    </resultMap>

    <insert id="createDuty">
        insert into tbl_user_club_duty (number,area,duty_time,arranger_id,cleaner_id,club_id,is_mixed)
        values (#{number},#{area},#{dateTime},#{arrangerId},#{cleanerId},#{clubId},#{isMixed})
    </insert>

    <update id="setDutyPicture">
        update tbl_user_club_duty set image_id = #{fileId} where duty_time = #{dateTime}
        and cleaner_id = #{memberId} and club_id = #{clubId} and is_deleted = 0
    </update>

    <delete id="deleteDuty">
        update tbl_user_club_duty set is_deleted = 1 where duty_time = #{dateTime}
        and cleaner_id = #{cleanerId} and club_id = #{clubId} and is_deleted = 0
    </delete>

    <select id="selectOne" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty WHERE number = #{number} and area = #{area}
        and duty_time = #{dateTime} and arranger_id = #{arrangerId} and cleaner_id = #{cleanerId}
        and club_id = #{clubId} and is_deleted = 0
    </select>

    <select id="selectLastWeek" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty WHERE duty_time >= DATE_SUB(NOW(), INTERVAL 7 DAY) and club_id = #{clubId}
    </select>

    <select id="selectDuty" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty
        WHERE club_id = #{clubId} AND is_deleted = 0
    </select>

    <select id="selectDutyByNumber" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty WHERE number = #{number} and is_deleted = 0
    </select>

    <select id="selectDutyByName" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty WHERE cleaner_id = #{cleanerId} and is_deleted = 0
    </select>

    <select id="selectDutyByNumberAndName" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty WHERE number = #{number} and cleaner_id = #{cleanerId} and is_deleted = 0
    </select>

    <select id="selectNextWeek" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty WHERE duty_time BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 7 DAY) and club_id = #{clubId}
    </select>
    <select id="selectDutyByUserId" resultMap ="tbl_club_Duty">
        SELECT * FROM tbl_user_club_duty WHERE cleaner_id = #{userId} and is_deleted = 0
    </select>

</mapper>
